{% extends 'layouts/base.twig' %}
{% from '/macros/icon.twig' import icon %}

{% block title %}Мероприятия{% endblock %}

{% block body %}
	<div class="events">
		<img class="events__circle lazyload" data-reveal data-reveal-transform='{"x": 80, "y": 0}' src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="assets/images/circle.svg" alt="Circle">
		<div class="container">
			<div class="events__holder" data-reveal-group>
				<h1 class="h2 text-center" data-reveal>Мероприятия</h1>
				<ul class="events__list">
					<li data-reveal data-reveal-delay="100" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/1.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
								<div class="event-item__description">С другой стороны начало повседневной работы по формированию позиции позволяет выполнять</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a>
					</li>
					<li data-reveal data-reveal-delay="200" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/2.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br>Свингер-пати</h3>
								<div class="event-item__description">Новые знакомства,  которыми
									вы будете впечатлены</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a> 
					</li>
					<li data-reveal data-reveal-delay="400" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/3.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
								<div class="event-item__description">Техно музыка добавит шарма.</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a>
					</li>
					<li data-reveal data-reveal-delay="500" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/4.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
								<div class="event-item__description">Техно музыка добавит шарма.</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a>
					</li>
					<li data-reveal data-reveal-delay="600" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/5.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
								<div class="event-item__description">Техно музыка добавит шарма.</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a>
					</li>
					<li data-reveal data-reveal-delay="700" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/6.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
								<div class="event-item__description">Техно музыка добавит шарма.</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="events__holder" data-reveal-group>
				<h2 class="h2 text-center" data-reveal>Архив</h2>
				<ul class="events__list">
					<li data-reveal data-reveal-delay="100" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/7.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
								<div class="event-item__description">С другой стороны начало повседневной работы по формированию позиции позволяет выполнять</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a>
					</li>
					<li data-reveal data-reveal-delay="200" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/8.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br>Свингер-пати</h3>
								<div class="event-item__description">Новые знакомства,  которыми
									вы будете впечатлены</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a> 
					</li>
					<li data-reveal data-reveal-delay="400" class="event-item">
						<a href="#" class="lazyload" data-bg="assets/images/events/9.jpg">
							<div class="event-item__info">
								<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
								<div class="event-item__description">Техно музыка добавит шарма.</div>
								<div class="event-item__detail">
									<ul>
										<li>
											{{ icon('marker' , {'width': 14, 'height': 17}) }}
											Москва 
										</li>
										<li>
											{{ icon('clock' , {'width': 15, 'height': 15}) }}
											21 декабря 22:00
										</li>
									</ul>
								</div>
							</div>
						</a>
					</li>
				</ul>
				<div class="events__more">
					<a href="#" class="btn btn-default">Загрузить еще</a>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/subscribe.twig' %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="assets/stylesheets/events.min.css" />
{% endblock %}

{% block javascripts %}

{% endblock %}
 