{% from '../../macros/icon.twig' import icon %}

<div class="event-slider">
	<div class="container" data-reveal-group>
		<h2 class="h2 text-center" data-reveal>Мероприятия</h2>
		<div class="slider" data-plugin="eventsSlider">
			<div class="slider__holder">
				<div class="slider__item event-item" data-reveal data-reveal-delay="200">
					<a href="event-card.html" class="lazyload" data-bg="assets/images/events/1.jpg">
						<div class="event-item__info">
							<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
							<div class="event-item__description">Техно музыка добавит шарма.</div>
							<div class="event-item__detail">
								<ul>
									<li>
										{{ icon('marker' , {'width': 14, 'height': 17}) }}
										Москва 
									</li>
									<li>
										{{ icon('clock' , {'width': 15, 'height': 15}) }}
										21 декабря 22:00
									</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="slider__item event-item" data-reveal data-reveal-delay="400">
					<a href="event-card.html" class="lazyload" data-bg="assets/images/events/2.jpg">
						<div class="event-item__info">
							<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
							<div class="event-item__description">Техно музыка добавит шарма.</div>
							<div class="event-item__detail">
								<ul>
									<li>
										{{ icon('marker' , {'width': 14, 'height': 17}) }}
										Москва 
									</li>
									<li>
										{{ icon('clock' , {'width': 15, 'height': 15}) }}
										21 декабря 22:00
									</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="slider__item event-item" data-reveal data-reveal-delay="500">
					<a href="event-card.html" class="lazyload" data-bg="assets/images/events/3.jpg">
						<div class="event-item__info">
							<h3 class="h3">Вечеринка. Свингер-пати</h3>
							<div class="event-item__description">Новые знакомства,  которыми
								вы будете впечатлены</div>
							<div class="event-item__detail">
								<ul>
									<li>
										{{ icon('marker' , {'width': 14, 'height': 17}) }}
										Москва 
									</li>
									<li>
										{{ icon('clock' , {'width': 15, 'height': 15}) }}
										21 декабря 22:00
									</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="slider__item event-item">
					<a href="event-card.html" class="lazyload" data-bg="assets/images/events/2.jpg">
						<div class="event-item__info">
							<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
							<div class="event-item__description">Техно музыка добавит шарма.</div>
							<div class="event-item__detail">
								<ul>
									<li>
										{{ icon('marker' , {'width': 14, 'height': 17}) }}
										Москва 
									</li>
									<li>
										{{ icon('clock' , {'width': 15, 'height': 15}) }}
										21 декабря 22:00
									</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
				<div class="slider__item event-item">
					<a href="event-card.html" class="lazyload" data-bg="assets/images/events/1.jpg">
						<div class="event-item__info">
							<h3 class="h3">Вечеринка. <br> Техно-карнавал</h3>
							<div class="event-item__description">Техно музыка добавит шарма.</div>
							<div class="event-item__detail">
								<ul>
									<li>
										{{ icon('marker' , {'width': 14, 'height': 17}) }}
										Москва 
									</li>
									<li>
										{{ icon('clock' , {'width': 15, 'height': 15}) }}
										21 декабря 22:00
									</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="slider__nav"></div>
		</div>
		<div class="event-slider__btn">
			<a href="events.html" class="btn btn-default">Все мероприятия</a>
		</div>
	</div>
</div>